.cust-profile{
    font-size: 250px;

}
.checkbox-left{

    width:10%;
    text-align: left;
}


.cust-list{
    font-size: 100px;

}
.topmargin{
    margin-top: 10px;
}

.text-pink{
    color: #ec407a;
}
.extra_space{
    margin-top: 25px;
}

input[type="checkbox"] {
    margin: 0 0 0;
}
