<section>
  <div class="page-header">
    <h1>Customers</h1>
  </div>
  <div class="list-group">
    <div class="row">
      <div class="col-sm-8 col-xs-12 topmargin">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" placeholder="Search by firstName..." ng-model="searchText.firstName">
          <span class="input-group-btn">
           <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>

      </div>

      <div class="col-sm-4 col-xs-12 text-center topmargin">
        <a type="button" class="btn btn-default btn-success text-center" ui-sref="customers.create" >
          <i class="glyphicon glyphicon-user  "></i>
          <br>
          New Customer

        </a>

      </div>
    </div>
    <br>
    <br>
    <div class="col-xs-6 col-sm-4" ng-repeat="customer in CLCtrl.customers | filter:searchText">

      <a ui-sref="customers.view({ customerId: customer._id })" class="list-group-item ">
        <h4 class="cust-list text-center">
          <i class="glyphicon glyphicon-user  "
             ng-class="{'text-primary':customer.referred,'text-danger':!customer.referred}"></i>
        </h4>

        <div class="row ">
          <div class="col-xs-10 col-xs-offset-1">
            <h4>
              <b>{{customer.firstName}} {{customer.surName}}</b>
            </h4>
            <small class="list-group-item-text ">
              Created on
              <span ng-bind="customer.created | date:'mediumDate'"></span>
              by
              <span ng-if="customer.user" ng-bind="customer.user.displayName"></span>
              <span ng-if="!customer.user">Deleted User</span>
            </small>
          </div>
        </div>

      </a>
    </div>

  </div>
  <div class="alert alert-warning text-center" ng-if="CLCtrl.customers.$resolved && !CLCtrl.customers.length">
    No customers yet, why don't you <a ui-sref="customers.create">create one</a>?
  </div>
</section>
